* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-family: "Sen", sans-serif;
}
/* Dung chung cho ca trang web */
a {
  text-decoration: none;
}
.maincontent {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 5rem;
  min-width: 118px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 24.5px;
  background-color: #171100;
}
/* Header */

.header{
    background-color: #FFFCF4;
    position: sticky;
    top: -28px;
}
.header .bodyheader {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
  
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
  position: relative;
}
.nav li.active,
.nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.nav li.active a::after {
  display: block;
  position: absolute;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  left: 21px;
  border-radius: 1px;
  background-color: #171100;
}
.header .btn-sign-up{
    min-width: 144px;
}
.header .action{
    margin-left: 50px;
}